@model List<solucionEmpresaABC.Models.Employee>

<h1>Empleados</h1>
<p>
    <a asp-action="Create">Registrar Empleados</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido Materno
            </th>
            <th>
                ID de Área
            </th>
            <th>
                ID de División
            </th>
            <th>
                email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>employee.NombreEmpleado)
                 </td>
                 <td>
                    @Html.DisplayFor(m=>employee.ApellidoPaterno)
                 </td>
                 <td>
                    @Html.DisplayFor(m=>employee.ApellidoMaterno)
                 </td>
                 <td>
                    @Html.DisplayFor(m=>employee.IdArea)
                 </td>
                 <td>
                    @Html.DisplayFor(m=>employee.IdSubarea)
                 </td>
                 <td>
                    @Html.DisplayFor(m=>employee.Email)
                 </td>
            </tr>
        }
    </tbody>
</table>